.FAQ{
	display: grid;
	grid-template-columns: 2fr 1rem 4fr 2fr;
	grid-template-rows: 1fr;
	padding-bottom: 8rem;
	padding-top: 4rem;
	background-color: white;

	img{
		grid-column: 2;
		grid-row: 1;
		height: 100%;
		width: 100%;
		object-fit: cover;
		z-index: 0;
		opacity: 75%;
	}

	.qa{
		grid-column: 3;
		grid-row: 1;
		z-index: 5;
		justify-self: center;
		align-self: center;
		padding-left: 2rem;
		// padding-top: 4rem;
		// padding-bottom: 4rem;
		// padding-left: 6rem;
		// padding-right: 6rem;
		// background-color: #E4E8EA;
	}

	h1{
		color: #325A73;
		margin: 0;
	}

	h2{
		color: #162C41;
		margin-bottom: 0;
		padding-bottom: .5rem;
		padding-top: 1rem; 
	}

	p{
		color: #162C41;
		font-size: 1.25rem;
		line-height: 2rem;
		margin: 0;
	}
}