.networking{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 4fr 4fr;
	grid-template-rows: 2fr 1fr 1fr 1fr 2fr;
	background-color: #162C41;
	height: 50vh;

	h1{
	grid-column: 1 / span 4;
	grid-row: 2;
	align-self: center;
	justify-self: center;
	margin: 0;
	color: #E4E8EA;
	}

	.insta{
	grid-column: 1;
	grid-row: 3;
	align-self: center;
	justify-self: center;
	margin: 0;
	}

	.twitter{
	grid-column: 2;
	grid-row: 3;
	align-self: center;
	justify-self: center;
	margin: 0;
	}

	.facebook{
	grid-column: 3;
	grid-row: 3;
	align-self: center;
	justify-self: center;
	margin: 0;
	}

	.pinterest{
	grid-column: 4;
	grid-row: 3;
	align-self: center;
	justify-self: center;
	margin: 0;
	}

	.fab{
		color: #E4E8EA;
	}

	.p{
	margin: 0;
	}

	h2{
	grid-column: 1 / span 4;
	grid-row: 4;
	align-self: center;
	justify-self: center;
	margin: 0;
	color: #E4E8EA;
	}

	img{
	grid-column: 5 / span 2;
	grid-row: 1 / span 5;
	height: 100%;
	width: 100%;
	object-fit: cover;
	}
}