.story{
	display: grid;
	grid-template-columns: 1fr 3fr 3fr 1fr;
	grid-template-rows: 1fr 1fr 3fr 1fr;
	height: 80vh;
	padding-bottom: 8rem;

	.strawlogo{
	grid-column: 2 / span 2;
	grid-row: 1 / span 2;
	align-self: center;
	display: inline-grid;
	margin: 0;
	z-index: 5;

		img{
			height: 100%;
			width: 60%;
			object-fit: cover;
			justify-self: center;
		}
	}

	.product{
	grid-column: 2;
	grid-row: 2 / span 3;
		img{
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	.story-text{
	grid-column: 3;
	grid-row: 2 / span 3;
	padding-left: 2rem;
	padding-top: 4rem;
	}

	h1{
	color: #6493A7;
	margin: 0;
	line-height: 50px;
	}

	p{
	color: #162C41;
	margin: 0;
	padding-top: 1rem;
	line-height: 2rem;
	}

}

