h1{
	font-family: Montserrat;
	font-weight: 600;
	letter-spacing: 3px;
}

h2{
	font-family: Montserrat;
	font-weight: 400;
	letter-spacing: 3px;
}

h3{
	font-family: Montserrat;
	font-weight: 600;
	letter-spacing: 3px;
}

// h2{
// 	font-family: Montserrat;
// 	font-weight: 600;
// 	text-transform: uppercase;
// 	letter-spacing: 3px;
// 	font-size: 6rem;
// 	color: #325A73;
// 	}

p{
	font-family: Montserrat;
	font-weight: 400;
}